.container{
   background-color: rgb(71, 71, 146);
   width: 100%;
   min-height: 100vh;
}
.container .firstLayer{
   height: 200px;
   width: 100%;
   padding: 2%;
   margin-top: 10px;
}
.container .chooseCoin{
   height: 100%;
   width: 100%;
   background-color: rgba(8, 8, 60, 0.898);
   padding: 2%;
   border-radius: 20px;
}
.container .chooseCoin .selectDiv{
   width: 100%;
   height: fit-content;
   padding: 2%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.container .chooseCoin .selectDiv select{
   width: 30%;
   text-align: center;
   outline: none;
   background-color: rgb(194, 192, 192);
   height: 30px;
   border-radius: 10px;
   font-weight: 700;
}
.container .chooseCoin button{
   height: 40px;
   width: 40px;
   border-radius: 100%;
   background-color: rgb(136, 134, 134);
   color: black;
   border-style: solid;
   border-color: white;
   border-width: 2px;
   box-shadow: 2px 2px 5px white, -2px -2px 5px white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 900;
   cursor: pointer;
   outline: none;
   margin: auto;
   margin-top: 30px;
}
.container .chooseCoin button:active{
   opacity: 0.2;
}


.container .cryptoContainer{
   height: 260px;
   width: 96%;
   margin-left: 2%;
   background-color: rgba(8, 8, 60, 0.898);
   padding: 2%;
   position: relative;
   border-radius: 20px;
   margin-top: 20px;
}
.container .cryptoContainer .coinID{
   min-height: 20%;
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 2%;
   color: whitesmoke;

}

.container .cryptoContainer .coinID img{
   height: 40px;
   width:50px
}
.container .cryptoContainer .coinID .coinName{
   width: 100%;
   margin-left: 10px;
   font-size: 23px;
   font-family: 'Fjalla One', sans-serif;
   font-weight: 700;
}
.prices{
   margin-top: 20px;
   height: 60%;
   width: 100%;
   color: rgb(223, 223, 223);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 2%;
   font-size: 19px;
   font-family: 'Fjalla One', sans-serif;
}
.prices p {
   width: 100%;
   position: relative;
}
.prices p span{
   position: absolute;
   right: 5%;
}
.scanBox{
   height: 200px;
   width: 96%;
   margin-left: 2%;
   padding: 2%;
   background-color: rgba(8, 8, 60, 0.898);
   margin-top: 20px;
   border-radius: 20px;
}
.scanBtns{
   height: 100%;
   width: 100%;
   padding: 2%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.scanBtns button{
   width: 30%;
   text-align: center;
   outline: none;
   background-color: rgb(194, 192, 192);
   height: 30px;
   border-radius: 10px;
   font-weight: 700;
   border-style: solid;
   border-color: transparent;
}
.scanBtns button:hover{
   background-color: rgb(85, 0, 255);
   color: white;
}
.comPredition{
   height: 100%;
   width: 100%;
   padding: 2%;
   line-height: 18px;
   color: rgb(190, 189, 189);
   position: relative;
}
.comPredition div{
   height: 40px;
   width: 40px;
   border-radius: 100%;
   background-color: transparent;
   fill: white;
   border-style: solid;
   border-color: white;
   border-width: 2px;
   box-shadow: 2px 2px 5px white, -2px -2px 5px white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 900;
   cursor: pointer;
   outline: none;
   position: absolute;
   bottom: 2%;
   right: 5%;
}
.comPredition div:hover{
   opacity: 0.7;
}
.comPredition div:active{
   opacity: 0.2;
}



.mobile{
   width: 100%;
 }
 
 @media screen and (min-width:872px){
   .container{
     position: relative;
     padding: 2%;
   }
   .footer{
     display: none;
   }
   .container .mobileHead {
     display: none;
   }
   .mobile{
     width: 68%;
     margin-left: 30%;
     min-height: 93vh;
     box-shadow: 1px 1px 7px black;
     border-radius: 20px;
   padding: 2%;
   }

 }