.container {
  background-color: rgb(71, 71, 146);
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.container h1 {
  font-size: 20px;
  margin-top: 50px;
  color: whitesmoke;
  margin-left: 5%;
}
.container form {
  height: fit-content;
  width: 60%;
  margin-left: 20%;
  padding: 5% 2%;
  margin-top: 30px;
  background-color: rgba(8, 8, 60, 0.898);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  border-radius: 20px;
}
.container form input {
  height: 30px;
  border-radius: 10px;
  background-color: rgb(71, 71, 146);
  border-style: solid;
  border-color: transparent;
  color: whitesmoke;
  padding: 2%;
  outline: none;
}
.container form button {
  height: 30px;
  border-radius: 10px;
  background-color: rgba(6, 6, 123, 0.898);
  border-style: solid;
  border-color: transparent;
  color: whitesmoke;
  padding: 2%;
}
.container form button:hover {
  opacity: 0.7;
}
.container form button:active {
  opacity: 0.2;
}
.outro {
  height: 30px;
  width: 60%;
  margin-left: 20%;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}
.outro p {
  font-size: 15px;
  cursor: pointer;
  color: rgb(192, 192, 192);
}
.outro p span {
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 100%;
  margin-top: 10px;
  font-size: 11px;
  color: rgb(202, 201, 201);
  position: absolute;
  bottom: 0;
}
.mobile {
  width: 100%;
}

@media screen and (min-width: 872px) {
  .container {
    padding: 1%;
    position: relative;
    padding: 2%;
  }
  .footer {
    display: none;
  }
  .container .mobileHead {
    display: none;
  }
  .mobile {
    width: 68%;
    margin-left: 30%;
    min-height: 93vh;
    box-shadow: 1px 1px 7px black;
    border-radius: 20px;
    padding: 150px 0 0 0;
  }
  .container form {
    height: fit-content;
    width: 60%;
    margin-left: 20%;
    padding: 5% 2%;
    margin: auto;
    background-color: rgba(8, 8, 60, 0.898);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;
    border-radius: 20px;
  }
  .outro {
    width: 50%;
    margin-left: 25%;
  }
  .container form {
    width: 50%;
    margin-left: 25%;
  }
}
